.login-card{
    border: 1px solid rgb(204, 202, 202);
    border-radius: 15px;
}
.log-in-button{
    border: 1px solid rgb(204, 202, 202);
    background-color: #fff;
    border-radius: 15px;
}
.gogle-icon{
    color:green;
    font-size: 25px;
}
.google{
    font-size: 20px;
   
}
.logo{
    height:100px;
}